.fp-slide#location(fp-title="Căn hộ")
	section.setting-section.section-apartment(fp-bg="none")
		.container.h-100
			.container-custom.container-1660px.h-100
				.map-svg
					img.svg(src="./assets/img/index/apartment-1.svg", alt="")