.fp-slide#apartment-detail(fp-title="Căn hộ")
	section.setting-section.section-apartment-detail(fp-bg="./assets/img/location/bg-apartment.png")
		.container.h-100
			.container-custom.container-1365px.h-100
				.apartment-detail__wrapper
					.info-room
						.title
							h3 Tầng 04 - 09
						.img
							img(src="./assets/img/location/detail.png", alt="")
					.map-svg
						img.svg(src="./assets/img/location/apartment.svg", alt="")
					.box-circle
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10899
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10942
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10943
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10944
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10945
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10946
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10947
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10948
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10949
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10950
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10951
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10952
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10953
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10954
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10955
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10956
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10957
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2
						a.show-box( href="room-detail.html" )
							.box-detail
								p(hidden).id Path_10958
								p Căn hộ: A-17
								p Diện tích: 60m
									sup 2