.fp-slide#apartment-detail(fp-title="Căn hộ")
	section.setting-section.section-apartment-detail(fp-bg="./assets/img/location/bg-apartment.png")
		.container.h-100
			.container-custom.container-1365px.h-100
				.apartment-detail__wrapper
					.info-room
						.title
							h3 Tầng 04 - 09
						.img
							img(src="./assets/img/location/detail.png", alt="")
					.map-svg
						img.svg(src="./assets/img/location/apartment.svg", alt="")
					.box-circle
						.show-box.showup
							p Căn hộ: A-17
							p Diện tích: 60m
								sup 2