.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	appearance: none;
}
.btn--see-more {
	
	padding-left: 30px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 85%;
		height: 100%;
		top: 0;
		left: 0;
		background: #F1BE78;
		z-index: 0;
		transition: transform 0.3s linear;
	}
	@media (min-width: 1025px) {
		&:hover::before{
			transform: translateX(30px);
		}
	}
	a {
		z-index: 1;
		color:	map-get($color, x-blue);
		font-family: Montserrat-MediumItalic;
		svg {
			margin-left: 5px;
		}
	}
	&.cl-white {
		a {
			color: map-get($color, x-white);
		}
		svg {
			path {
				stroke: map-get($color, x-white);
			}
		}
	}
}

.btn-arrow {
	width: 29px;
	height: 29px;
	background: #F1BE78;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
		width: 12px;
		height: 12px;
		background: url(../assets/img/index/arrow.png) no-repeat;

	}
}