footer
	.fp-buttons
		.fp-buttons__wrapper
			.fp-next
				span
				span
				span
	.fp-socials
		.container
			.container-custom.container-1660px
				.fp-socials__wrapper
					.socials__wrapper
						.socials
							a(href="#").social__item
								img.svg(src="./assets/img/index/insta.svg", alt="instagram")
							a(href="#").social__item
								img.svg(src="./assets/img/index/facebook.svg", alt="facebook")
							a(href="#").social__item
								img.svg(src="./assets/img/index/youtube.svg", alt="youtube")
					.fp-links__wrapper
						.fp-link-item
							a(href="" target="_blank") 0929 009 555
						.fp-link-item
							a(href="javascript:;" data-fancybox data-src="#popup-info") ĐĂNG KÝ NHẬN TIN
						.fp-link-item
							a(href="javascript:;" )
								.icon-desc
									span Căn Hộ 360
								.icon
									img(src="./assets/img/index/360.png", alt="")
							.dropdown
								a(href="").dropdown-item SOMETHING
								a(href="").dropdown-item SOMETHING
								a(href="").dropdown-item SOMETHING
