header
	.container
		.container-custom.container-1660px
			.header__wrapper
				.menu
					.hambuger--menu
						span
						span
						span
						.text
							p Menu
					.logo
						a(href="").img
							img(src="./assets/img/index/logo-small.png", alt="")
				.language__wrapper
					.language
						.languages__item.item
							a(href="").languages__link EN
						.languages__item.item.active
							a(href="").languages__link VN
	
	.navigation
		.menu.h-100
			.menu__wrapper
				.nav-list
					.nav-item.active
						a(href="").nav-link Trang Chủ
					.nav-item
						a(href="", fp-target="1").nav-link Giới thiệu
					.nav-item
						a(href="", fp-target="2").nav-link Video
					.nav-item
						a(href="", fp-target="3").nav-link Vị trí
					.nav-item
						a(href="", fp-target="4").nav-link Tiện ích
					.nav-item
						a(href="", fp-target="5").nav-link Mặt bằng căn hộ
					.nav-item
						a(href="").nav-link Căn hộ 360
					.nav-item
						a(href="", fp-target="6").nav-link Tin tức sự kiện
					.nav-item
						a(href="", fp-target="7").nav-link Liên hệ
					.nav-item
						span Liên kết:
						.socials
							a(href="#").social__item
								img.svg(src="./assets/img/index/face-menu.svg", alt="instagram")
							a(href="#").social__item
								img.svg(src="./assets/img/index/tweet-menu.svg", alt="facebook")
							a(href="#").social__item
								img.svg(src="./assets/img/index/insta-menu.svg", alt="youtube")
				.language__wrapper
					.language
						.languages__item.item
							a(href="").languages__link EN
						.languages__item.item.active
							a(href="").languages__link VN
