block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='shortcut icon', type='image/png', href='/favicon/favicon.ico')
		link(rel="stylesheet", href="./css/main.min.css")
		link(rel="stylesheet", href="./css/core.min.css")
		//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css")
		//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
	body
		block loading
		//- main content
		block header
			include _header.pug
		block banner,breadcrumb
		main
			.fp-container
				block main
				#js-page-verify(class=bodyClass hidden)
				.fp-navigations
					.fp-prev
					.fp-next
		block footer
			include _footer.pug
		.d-none
			#popup-info.popup-custom
				.title
					p NHẬN THÔNG TIN DỰ ÁN
				.info
					form(action="")
						.name
							input#name(type="text" name="name" placeholder="Họ & tên")
						.row.mail-phone
							.col-6
								input#mail(type="text" name="mail", placeholder="Email")
							.col-6
								input#phone(type="text" name="phone", placeholder="SDT")
						.context
							textarea#context(name="context", cols="30", rows="5" placeholder="Nội Dung")
						.btn-submit(data-url="asd")
							button.btn
								span Gửi
								img.svg(src="./assets/icons/send.svg", alt="")
		//- end main content
		//- #go-top
		//- 	img.svg(src="./assets/icons/gotop.svg")
		//- include scripts
		//- script(type="text/javascript", src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3')

		//- script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyAq6ag0zUMblc-Wk5Z5S8KWkHpT3ak1LzI")
		script(src="https://www.youtube.com/iframe_api")
		//- script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts