#loading-container
	.loading-wrapper
		#loading-logo
			img.svg(src="./assets/img/index/logo-new.svg", alt="")
		.progress
			#progress-bar
		.progress-status
			| Loading: 
			span#progress-percentage 0
			| %