.section-apartment-detail {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($color: #000000, $alpha: .8);
	}
	@media (max-width: 1100px) {
		padding-top: 100px;
		
	}
	.apartment-detail__wrapper {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		.info-room {
			-ms-flex: 0 0 30%;
			flex: 0 0 30%;
			max-width: 30%;
			.title {
			margin-bottom: 70px;

			}
			h3 {
				font-family: MyriaPro-Bold;
				font-size: 4rem;
				position: relative;
				padding-right: 180px;
				color: #F1BE78;
				&::after {
					content: "";
					position: absolute;
					width: 180px;
					height: 2px;
					background: #FCCB81;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
		.map-svg {
			-ms-flex: 0 0 70%;
			flex: 0 0 70%;
			max-width: 70%;
			svg {
			width: 100%;
			height: 100%;
				.hover-room {
					cursor: pointer;
					opacity: 0;
					transition: .3s all ease-in-out;
					&:hover {
						opacity: 1;
						transition: .3s all ease-in-out;
					}
				}
				g[id^="Floor-"]  {
					ellipse,
					circle {
						stroke: #fff;
						stroke-miterlimit: 10;
						stroke-width: 1;
						stroke-dasharray: 3;
						stroke-dashoffset: 0;
						animation: StrokeLine 10s infinite linear;
					}
				}
			}
		}
		@media (max-width: 1100px) {
			.info-room {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 700px;
				margin: 0 auto;
				margin-bottom: 20px;
				.title {
					margin-bottom: 20px;
				}
			}
			.map-svg {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	.box-circle {
		 .show-box {
			
			 padding: 0;
			 padding-left: 10px;
			 border-radius: 3px;
			 width: 155px;
			 height: 61px;
			 overflow: unset;
			 background: #F1BE78;
			 &::before {
				width: 0;
				height: 0;
				border-top: 15px solid transparent;
				border-right: 14px solid #F1BE78;
				border-bottom: 15px solid transparent;
				position: absolute;
				left: -10px;
				top: 50%;
				transform: translateY(-50%);
				content: "";
			 }
			 .box-detail {
				 width: 100%;
				 height: 100%;
				 background: #ffffff;
				 color: #F1BE78;
				 display: flex;
				 flex-direction: column;
				 border-radius: 3px;
				 justify-content: center;
				 padding-left: 10px;
				 position: relative;
				 &::before {
					width: 0;
					height: 0;
					border-top: 15px solid transparent;
					border-right: 14px solid #ffffff;
					border-bottom: 15px solid transparent;
					position: absolute;
					left: -10px;
					content: "";
				 }
				 p {
					 font-size: 1.4rem;
					 font-family: Avenir-Black;
				 }
				 .id {
					 visibility: hidden;
					 opacity: 0;
					 display: none;
				 }
			 }
		 }
		 @media (max-width: 1100px) {
			 position: relative;
			 top: unset !important;
			 left: unset !important;
			 display: flex;
			 flex-wrap: wrap;
			 justify-content: center;;
			 .show-box {
				 position: relative;
				 margin: 0 10px;
				 top: unset !important;
				left: unset !important;
				opacity: 1;
				transform: scale(1);
				margin-bottom: 10px;
				&::before {
					content: none;
				}
				.box-detail {
					&::before {
						content: none;
					}
				}
			 }
			 
		 }
	}
}
