.section-apartment-detail {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($color: #000000, $alpha: .8);
	}
	.apartment-detail__wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		.info-room {
			-ms-flex: 0 0 30%;
			flex: 0 0 30%;
			max-width: 30%;
			.title {
			margin-bottom: 70px;

			}
			h3 {
				font-family: MyriaPro-Bold;
				font-size: 4rem;
				position: relative;
				padding-right: 180px;
				color: #F1BE78;
				&::after {
					content: "";
					position: absolute;
					width: 180px;
					height: 2px;
					background: #FCCB81;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
		.map-svg {
			-ms-flex: 0 0 70%;
			flex: 0 0 70%;
			max-width: 70%;
			svg {
			width: 100%;
			height: 100%;
				path[id^=Path_109] {
					opacity: 0;
					transition: .3s all ease-in-out;
					&:hover {
						opacity: 1;
						transition: .3s all ease-in-out;
					}
				}
			}
		}
	}
	.box-circle {

	}
}
