
#home {
	.section-title {
		position: relative;
		
		.logo--big {
			top: 15%;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			@media (max-width: 1100px) {
				position: relative;
				text-align: center;
				padding-top: 100px;
				top: unset;
				left: unset;
				transform: unset;
			}
			@media (max-width: 575.98px) {
				svg {
					width: 170px;
				height: 220px;
				}
			}
		}
		.title {
			position: absolute;
			padding-left: 40%;
			bottom: 20%;
		
			p {
				font-size: 7rem;
				font-family: MyriaPro-Bold;
				font-weight: 700;
				line-height: 1.5;
				color: #ffffff;
				mix-blend-mode: overlay;
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				height: 6px;
				width: 1110px;
				background-color: map-get($color, x-white);
				mix-blend-mode: overlay;
			}
			@media (max-width: 1499.98px) {
				padding-left: 30%;
			}
			@media (max-width: 1100px) {
				position: relative;
				padding-left: 5%;
				bottom: unset;
				&::after {
					width: 50%;
				}
			}
			@media (max-width: 900px) {
				p {
					font-size: 5rem;
				}
			}
			@media (max-width: 575.98px) {
				&::after {
					content: none;
				}
				p {
					font-size: 3.5rem;
				}
			}
		}
		@media (max-width: 1100px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	.setting-section {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($color: #000000, $alpha: .5);
		}
		&.show-content {
			svg {
				animation: scaleLarge;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
		}
		@media (max-width: 1100px) {
			height: 100vh;
			
		}
	}
}

#introduce {
	.section-intro {
		background-size: 50% 100%;
		background-position: left;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: rgba($color: #000000, $alpha: .5);
		}
		@media (max-width: 767.98px) {
			background-position: center;
			background-size: cover;
			&::before {
				// content: none;
				width: 100%;
			}
			
		}
	}
	.intro__wrapper {
		max-width: 50%;
		padding-left: 100px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		.title {
			display: inline-flex;
			padding-right: 70px;
			position: relative;
			margin-bottom: 30px;
			h2 {
				color: map-get($color, x-blue);
				font-size: 1.8rem;
				font-family: Avenir-Black;
				font-weight: bold;
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				height: 1px;
				background: map-get($color, x-line);
				width: 65px;
			}
		}
		.sub-title {
			margin-bottom: 20px;
			h3 {
				font-family: MyriaPro-Bold;
				font-size: 6.5rem;
				color: map-get($color, x-blue);
			}
		}
		.sub-desc {
			margin-bottom: 15px;
			max-width: 400px;
			p {
				color: #707070;
			}
		}
		.btn--see-more {
			margin-bottom: 30px;
		}
		@media (max-width: 1100px) {
			position: relative;
			padding-left: 20px;
			margin-left: auto;
			top: unset;
			left: unset;
			transform: unset;
			padding-top: 50px;
			padding-bottom: 50px;
			.title {
				padding-right: unset;
				&::after {
					content: none;
				}
			}
			.sub-title {
				h3 {
					font-size: 5rem;
				}
			}
		}
		@media (max-width: 767.98px) {
			max-width: 700px;
			margin: 0 auto;
			padding-left: unset;
			
		}
		@media (max-width: 767.98px) {
			.title {
				h2 {
					color: #FFFFFF;
				}
			}
			.sub-title {
				h3 {
					color: #FCCB81;
				}
			}
			.sub-desc {
				p {
					color: #ffffff;
				}
			}
		}
		@media (max-width: 575.98px) {
			.sub-title {
				h3 {
					font-size: 3.5rem;
				}
			}
		}
	}
}

.section-location {
	background: #08152E !important;
	.st-line {
		stroke-miterlimit: 10;
		stroke-width: 1;
		stroke-dasharray: 10;
		stroke-dashoffset: 0;
		animation: StrokeLine 3s infinite linear;
	}
	
	.map-svg {
		padding-top: 50px;
		overflow: hidden;
		width: 55vw;
		height: 100%;
		overflow: hidden;
		svg{
			height: calc(100% + 65px);
			width: 100%;
		}
		@media (max-width: 1439.98px) {
			width: 50vw;
		}
		@media (max-width: 1100px) {
			width: 100%;
			height: 100%;
			padding-top: 0;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	.content--main {
		position: absolute;
		right: 76px;
		height: auto;
		width: 100%;
		max-width: 410px;
		top: 50%;
		transform: translateY(-50%);
		text-align: right;
		.title-main {
			font-size: 6.5rem;
			font-family: MyriaPro-Bold;
			position: relative;
			color: #FCCB81;
			margin-bottom: 20px;
			h2 {
				padding-left: 55px;
				position: relative;
				display: inline-block;
				&::after {
					position: absolute;
					content: "";
					background: #FCCB81;
					height: 2px;
					width: 50px;
					bottom: 32px;
					left: 0;
				}
			}
			
		}
		.sub-title {
			margin-bottom: 20px;
			p {
				color: map-get($color, x-white);
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
		.btn--see-more {
			a {
				color: map-get($color, x-white);
				font-weight: 400;
				svg {
					path {
						stroke: map-get($color, x-white)
					}
				}
			}
		}
		@media (max-width: 1439.98px) {
			right: 0;
		}
		@media (max-width: 1100px) {
			position: relative;
			right: unset;
			top: unset;
			transform: unset;
			text-align: center;
			max-width: 700px;
			margin: 0 auto;
			padding-top: 50px;
			.title-main {
				font-size: 5rem;
				h2 {
					
					padding-left: unset;
					&::after {
						content: none;
					}
				}
			}
			.sub-title {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}
		}
		@media (max-width: 575.98px) {
			.title-main {
				font-size: 3.5rem;
			}
		}
	}
}

.section-utilities {
	background: #08152E !important;
	.utilities__wrapper {
		.content-main {
			padding-left: 105px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			.title--main {
				margin-bottom: 20px;
				p {
					font-size: 6.5rem;
					font-family: MyriaPro-Bold;
					color: #FCCB81;
					&:last-child {
						padding-left: 100px;
					}
				}
			}
			.desc {
				padding-left: 100px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 5px;
					left: 0;
					width: 90px;
					height: 1px;
					background: #FCCB81;
				}
			}
			.sub-title {
				margin-bottom: 20px;
				p {
					color: map-get($color, x-white);
				}
			}
			.btn--see-more {
				a {
					color: map-get($color, x-white);
					svg {
						path {
							stroke: map-get($color, x-white);
						}
					}
				}
			}
		}
	

		.content-main-right {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			.row {
				align-items: center;
				margin-right: -20px;
				margin-left: -20px;
			}
			.img {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				position: relative;
				padding-left: 20px;
				padding-right: 20px;
				.img--left {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba($color: #000000, $alpha: .43);
					}
				}
			}
			.desc {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				padding: 0px 20px;
				padding-top: 70px;
				.swiper-container {
					height: 100%;
					.swiper-wrapper {
						display: flex;
						flex-direction: column;
					}
					.swiper-slide {
						display: flex;
						height: fit-content !important;
						margin-bottom: 70px;
					}
				}
				.wrapper {
					display: flex;
					align-items: center;
					border-bottom: 1px solid #FCCB81;
					max-width: 338px;
					max-height: 100px;
					padding-bottom: 5px;
					.desc-slide {
						padding-left: 40px;
						p {
							color: map-get($color, x-white);
							span {
								font-family: Avenir-Black;
								font-weight: 700;
								color: #FCCB81;
							}
						}
					}
				}
				@media (max-width: 1439.98px) {
					padding-top: 40px;
					.swiper-container {
						.swiper-slide {
							margin-bottom: 40px;
						}
					}
				}
				@media (max-width: 575.98px) {
					.swiper-container {
						.swiper-slide {
							margin-bottom: 25px;
						}
					}
				}
			}
		}
		@media (max-width: 1599.98px) {
			.content-main {
				-ms-flex: 0 0 41.666667%;
				flex: 0 0 41.666667%;
				max-width: 41.666667%;
			}
			.content-main-right {
				-ms-flex: 0 0 58.333333%;
				flex: 0 0 58.333333%;
				max-width: 58.333333%;
			}
		}
		@media (max-width: 1439.98px) {
			.content-main {
				padding-left: unset;
			}
		}
		@media (max-width: 1100px) {
			padding-top: 50px;
			.row {
				justify-content: center;
			}
			.content-main {
				position: relative;
				top: unset;
				transform: unset;
				padding-left: unset;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 700px;
				margin-bottom: 20px;
				.title--main {
					p {
						font-size: 5rem;
					}
					display: flex;
					justify-content: center;
					p:last-child {
						padding-left: 10px;
					}
					@media (max-width: 575.98px) {
						p {
							font-size: 3.5rem;
						}
					}
				}
				.sub-title {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
				}
			}
			.content-main-right {
				position: relative;
				top: unset;
				right: unset;
				transform: unset;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				.desc {
					
					.wrapper {
						margin-right: unset;
						max-width: 100%;
						width: 100%;
					}
				}
				
			}
		}
		@media (max-width: 767.98px) {
			.content-main {
				.desc {
					max-width: 700px;
					margin: 0 auto;
					padding: 0 10px;
					&::after {
						content: none;
					}
				}
			}
		}
		@media (max-width: 575.98px) {
			.content-main-right {
				.row {
					> div {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
					.desc {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

.section-news {
	background: #08152E !important;
	.content-main {
		padding-left: 105px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.title--main {
			p {
				font-size: 6.5rem;
				font-family: MyriaPro-Bold;
				color: #FCCB81;
				&:last-child {
					padding-left: 100px;
					position: relative;
					&::after {
						content: "__";
						position: absolute;
						left: 0;
						color: #FCCB81;
					}
				}
			}
		}
		.desc {
			padding-left: 100px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				width: 90px;
				height: 1px;
				background: #FCCB81;
			}
		}
		.sub-title {
			margin-bottom: 20px;
			p {
				color: map-get($color, x-white);
			}
		}
		.btn--see-more {
			a {
				color: map-get($color, x-white);
				svg {
					path {
						stroke: map-get($color, x-white);
					}
				}
			}
		}
		@media (max-width: 1100px) {
			position: relative;
			top: unset;
			transform: unset;
			padding-left: unset;
		}
	}
	.news-swiper {
		max-width: 58%;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		height: 50%;
		overflow: hidden;
		.swiper-slide {
			.desc {
				position: absolute;
				bottom: 10px;
				width: 80%;
				color: map-get($color, x-white);
				padding: 0 20px;
				right: 0;
				.title {
					font-family: Avenir-Black;
					font-size: 1.8rem;
					font-weight: 700;
					margin-bottom: 10px;
				}
				.sub-title {
					display: none;
				}
				.btn--see-more {
					display: none;
					a {
						color: #ffffff;
						svg {
							path {
								stroke: #ffffff;
							}
						}
					}
				}
			}
		}
		.swiper-container {
			height: 100%;
			.wrapper {
				height: 100%;
				.img {
					transform: scaleX(.85);
					height: 100%;
					transform-origin: right;
					transition: .3s all ease-in;
				}
				
			}
			.swiper-slide-active {
				.wrapper {
					.img {
						transform: scaleX(1);
						transition: 1s all ease-in;
						&::before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: url(../assets/img/index/active-new.png) ;
						}
					}
					.desc {
						position: absolute;
						bottom: 20px;
						width: 100%;
						color: map-get($color, x-white);
						padding: 0 20px;
						.title {
							font-family: Avenir-Black;
							font-size: 1.8rem;
							margin-bottom: 20px;
							font-weight: 700;
						}
						.sub-title {
							display: block;
							margin-bottom: 20px;
						}
						.btn--see-more {
							display: inline-flex;
						}
						.btn-arrow {
							display: none;
						}
					}
				}
			}
			.img {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: #000000, $alpha: .55);
				}
			}
		}
		@media (max-width: 1100px) {
			position: relative;
			top: unset;
			right: unset;
			transform: unset;
			margin-left: auto;
			height: 50vw;
			max-width: 100%;
			padding: 0 10px;
			margin-top: 20px;
			.swiper-slide {
				.img {
					transition: .3s all ease-in;
					transform-origin: unset !important;
					transform: scale(.9) !important;
				}
				.desc {
					bottom: 35px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.swiper-slide-active {
				.img {
					transition: .3s all ease-in;
					transform: scale(1) !important;
				}
			}
		}
		@media (max-width: 575.98px) {
			height: 75vw;
		}
	}
	.utilities__wrapper {
		@media (max-width: 1100px) {
			text-align: center;
			.content-main {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				.title--main {
					display: flex;
					justify-content: center;
					p:last-child {
						padding-left: 10px;
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1100px) {
		padding: 50px 0;
	}
}

.section-contact {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($color: #000000, $alpha: .75);
	}
	.contact__wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		color: map-get($color, x-white);
		.contact--title {
			font-size: 6.5rem;
			font-family: MyriaPro-Bold;
			color: #FCCB81;
			position: relative;
			h2 {
				font-size: 6.5rem;
				display: inline-block;
				position: relative;
				&::after {
					position: absolute;
					width: 200px;
					height: 2px;
					content: "";
					bottom: 30px;
					left: calc(100% + 20px);
					background: #FCCB81;
				}
			}
			@media (max-width: 1100px) {
				text-align: center;
			margin-bottom: 20px;
				h2 {
					&::after {
						content: none;
					}
				}
				
			}
		}
		h3 {
			font-size: 1.8rem;
			font-family: Avenir-Black;
			margin-bottom: 30px;
		}
		.info-content {
			padding-top: 30px;
		}
		.contact-info {
			color: map-get($color, x-white);
			display: flex;
			margin-bottom: 25px;
			align-items: center;
			&:last-child {
				margin-bottom: unset;
			}
			.icon {
				-ms-flex: 0 0 4%;
				flex: 0 0 4%;
				max-width: 4%;
			}
			.text {
				margin-left: 10px;
			}
			&:last-child {
				.text {
					display: flex;
					a {
						margin-left: 15px;
						svg {
							path {
								fill: #FCCB81;
							}
						}
					}
				}
			}
		}

		.company {
			.item {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 49px;
				height: 92px;
				.text {
					-ms-flex: 0 0 30%;
					flex: 0 0 30%;
					max-width: 30%;
					p {
						font-family: Avenir-Black;
						font-weight: 700;
					}
				}
				.logo {
					height: 100%;
					-ms-flex: 0 0 70%;
					flex: 0 0 70%;
					max-width: 70%;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 12px;
						background: rgba($color: #FFFFFF, $alpha: 0.05);
					}
				}
				&:last-child {
					margin-bottom: unset;
				}
			}
		}
		@media (max-width: 1100px) {
			position: relative;
			top: unset;
			transform: unset;
			.row {
				> div {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					max-width: 700px;
					margin: 0 auto;
				}
			}
		}
	}
	@media (max-width: 1100px) {
		padding: 50px 0;
	}
}

.box-video-center {
	position: absolute;
    left: 0;
	top: 0;
width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
	z-index: 10;
	.video-youtube-full {
		position: relative;
		width: 100%;
		height: 100vh;
		display: block;
	}
	.play-button {
		background: url(../assets/img/index/video-icon.png) center center/contain no-repeat;
		width: 127px;
		height: 127px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all .5s ease-in-out;
		border-radius: 50%;
		z-index: 99999;
		opacity: 0;
		&.show {
			opacity: 1;
			pointer-events: auto;
		}
		@media (max-width: 767.98px) {
			width: 80px;
			height: 80px;
		}
	}
	.bg-video {
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-position: center;
		transition: opacity .6s ease-in-out;
		&::before {
			position: absolute;
			content: "";
			background: rgba($color: #000000, $alpha: .7);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	.youtube-video {
		width: 100%;
		height: 100%;
		position: relative;
		display: block;
		overflow: hidden;
		iframe {
			width: 100%;
			height: calc(100vw * .5625);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
		}
	}
	.control {
		width: auto;
		height: auto;
		padding: 10px;
		bottom: 90px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: #fff;
		font-size: 12px;
		transition: opacity .5s ease-in-out;
		font-weight: 400;
		z-index: 10;
		opacity: 0;
		position: absolute;
		&.show {
			opacity: 1;
		}
		span {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle; 
		}
		 button {
			outline: 0;
			background-color: transparent;
			border: none;
			cursor: pointer;
			transition: all .3s ease-in-out;
			overflow: hidden;
			position: relative;
			margin: 0 10px;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: middle;
			&#play {
				background-image: url(../assets/img/index/play-video.svg);
			}
			&#pause {
				background-image: url(../assets/img/index/stop-video.svg);
			}
			&#fullscreen {
				background-image: url(../assets/img/index/fullscreen-video.svg);
			}
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			background: rgba($color: #FFFFFF, $alpha: .16);
			transition: background-color .3s ease-in-out;
			pointer-events: none;
			// z-index: -1;
		}
		@media (max-width: 767.98px) {
			bottom: 0;
			width: 100%;
		}
	}
	@media (max-width: 1100px) {
		height: calc(1125/2000 * 100vw);
		width: 100%;
		left: auto;
		position: relative;
		top: auto;
		.video-youtube-full {
			height: 100%;
		}
	
	}
}

.bg-video.hide, .play-button, .youtube-video img {
	opacity: 0;
	pointer-events: none;
}

@keyframes fade {
	to {
	   transform: scale(2);
	   opacity: 0;
	}
 }