#introduce-detail--1 {
	.setting-section {
		background: #08152E;
		.section-introduce--1__wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			.row {
				align-items: center;
				width: 100%;
			}
			.content--desc {
				.content--desc__wrapper {
					max-width: 550px;
				}
				.title {
					h2 {
						color: map-get($color, x-white);
						font-family: Avenir-Black;
						font-size: 1.8rem;
						position: relative;
						display: inline-block;
						&::after {
							content: "";
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 105%;
							width: 65px;
							background: #fff;
							height: 1px;
						}
					}
				}
				.symbol {
					h1 {
						color: #F1BE78;
						font-family: MyriaPro-Bold;
						font-size: 6.5rem;
						@media (max-width: 1439.98px) {
							font-size: 4.5rem;
							
						}
					}
				}
				.sub-title {
					p {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}
				}
			}
			@media (max-width: 1439.98px) {
				padding: 0;
				
			}
			@media (max-width: 1100px) {
				padding-top: 110px;
				.row {
					> div {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
						&:first-child {
							margin-bottom: 20px;
						}
						> div {
							max-width: 700px;
							margin: 0 auto;
						}
					}
				}
				
			}
		}
	}
}

#introduce-detail--2 {
	.setting-section {
		background: #08152E;
	}
	.section-introduce--2__wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		max-width: 1100px;
		margin: 0 auto;
		.title {
			h2 {
				font-family: MyriaPro-Bold;
				color: #F1BE78;
				font-size: 6.4rem;
				position: relative;
				margin-bottom: 60px;
				&::after {
					position: absolute;
					content: "";
					background: #F1BE78;
					width: 122px;
					height: 3px;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		.row {
			.item {
				height: auto;
				display: flex;
				align-items: center;
				margin-bottom: 60px;
				.desc {
					padding-left: 40px;
				}
			}
			
		}
		@media (max-width: 1100px) {
			padding: 50px 0;
			max-width: 700px;
			margin: 0 auto;
			.row {
				> div {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					.item {
						margin-bottom: 10px;
					}
				}
				.content--img {
					order: -1;
				}
			}
		}
	}
	
}

#introduce-detail--3 {
	.setting-section {
		background: #08152E;
	}
	.section-introduce--3__wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		.row {
			background: url(../assets/img/introduce/intro-3.png) no-repeat;
			background-size: cover;
			padding-top: 60px;
			padding-bottom: 60px;
			justify-content: center;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				background: rgba($color: #000000, $alpha: .8);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			.title {
				margin-bottom: 70px;
				h2 {
					font-size: 6.5rem;
					font-family: MyriaPro-Bold;
					color: #F1BE78;
					position: relative;
					padding-bottom: 10px;
						&::after {
							position: absolute;
							content: "";
							background: #F1BE78;
							width: 122px;
							height: 3px;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
						}
				}
				@media (max-width: 1100px) {
					h2 {
						font-size: 4.5rem;
					}
					
				}
			}
			.detail-content {
				display: flex;
				flex-wrap: wrap;
				z-index: 1;
				text-align: center;
				justify-content: center;
				.item {
					padding: 0 60px;
					-ms-flex: 0 0 33.333333%;
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
					.item__wrapper {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
					
						.title {
							margin-bottom: 40px;
							min-height: 38px;
							p {
								font-family: Avenir-Black;
								font-size: 2rem;
								color: #F1BE78;
							}
						}
						.img {
							margin-bottom: 40px;
							min-height: 74px;
							display: flex;
							align-items: center;
						}
					}
					&:nth-child(2) {
						.img {
							margin-left: -10px;
							margin-right: -10px;
							.logo {
								-ms-flex: 0 0 50%;
								flex: 0 0 50%;
								max-width: 50%;
								padding: 0 10px;
								&:last-child {
									position: relative;
									&::after {
										position: absolute;
										top: 50%;
										left: 0;
										transform: translateY(-50%);
										height: 100%;
										width: 1px;
										background: map-get($color, x-white);
										content: "";
									}
								}
							}
						}
					}
					@media (max-width: 1439.98px) {
						padding: 0 20px;
						
					}
					@media (max-width: 1024px) {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						&:not(:last-child) {
							margin-bottom: 30px;
						}
						.item__wrapper {
							.title {
								margin-bottom: 10px;
								min-height: unset;
							}
						}
					}
					@media (max-width: 767.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 80%;
						.item__wrapper {
							.img {
								margin-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}