#news-detail--1 {
	.setting-section {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background: rgba($color: #000000, $alpha: .85);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
	.section-news--1__wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		.content--active {
			.row {
				margin-right: -15px;
				margin-left: -15px;
				> div {
					padding-left: 15px;
					padding-right: 15px;
				}
				.desc {
					.title {
						margin-bottom: 10px;
						h2 {
							font-family: Avenir-Black;
							font-size: 2.5rem;
						}
					}
					.date-news {
						margin-bottom: 20px;
						span {
							font-family: Avenir-Light-Italic;
						}
					}
					.sub-title {
						margin-bottom: 30px;
					}
				}
				@media (max-width: 1439.98px) {
					margin-left: -10px;
					margin-right: -10px;
					> div {
						padding-left: 10px;
						padding-right: 10px;
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
					}
				}
			}
		}
		.content--slide {
			.swiper-slide {
				height: fit-content !important;
			}
				.item {
					display: flex;
					flex-wrap: wrap;
					background: rgba($color: #FFFFFF, $alpha: .2);
					.img {
						-ms-flex: 0 0 30%;
						flex: 0 0 30%;
						max-width: 30%;
					}
					.desc {
						-ms-flex: 0 0 70%;
						flex: 0 0 70%;
						max-width: 70%;
						padding: 10px 20px;
						align-self: center;
						.title {
							margin-bottom: 5px;
							h2 {
								font-size: 1.7rem;
								font-family: Avenir-Black;
							}
						}
						.date-news {
							margin-bottom: 5px;
							span {
								font-family: Avenir-Light-Italic;
								font-size: 1.3rem;
							}
						}
					}
				}
		}
		.btn--see-more {
			a {
				font-size: 1.3rem;
			}
		}
		@media (max-width: 1100px) {
			padding-top: 110px;
			.content__wrapper {
				justify-content: center;
			}
			.content--active {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 70%;
				margin-bottom: 30px;
				@media (max-width: 767.98px) {
					
				}
			}
			.content--slide {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 70%;
			}
		}
	}
}

.column-box-news {
	overflow-y: auto;
	.scroll-content {
		height: 100vh;
		.news-content {
			max-width: 950px;
			margin: 0 auto;
			padding-top: 60px;
			padding-left: 70px;
			padding-right: 70px;
			background: #FFFFFF;
			color: #707070;
			position: relative;
			.close-news {
				display: block;
				width: 46px;
				height: 46px;
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 999999;
				background: #F1BE78;
				border-radius: 0 0 0 12px;
				&::after {
					background: url(../assets/img/detail-news/close-button.svg) 50%/80% no-repeat;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50% , -50%);
					width: 18px;
					height: 18px;
					pointer-events: none;
					transition: 1s all ease-in-out;
				}
				&:hover {
					&::after {
						transition: 1s all ease-in-out;
						transform: rotate(90deg);
					}
				}
			}
		}
	}
	
}