#utilities-detail {
	height: 100vh;
	.setting-section {
		background: #08152e;
		.container {
			position: relative;
			svg {
				width: 100%;
				position: absolute;
				g {
					g {
						cursor: pointer;
						circle {
							&[fill="#caa262"] {
								-webkit-animation: fadeIn 2s infinite linear;
								animation: fadeIn 2s infinite linear;
							}
							&[stroke="none"] {
								stroke-miterlimit: 10;
								stroke-width: 1;
								stroke-dasharray: 4;
								stroke-dashoffset: 4;
								-webkit-animation: StrokeLine 5s infinite linear;
								animation: StrokeLine 5s infinite linear;
								stroke: #fff;
								stroke-linecap: round;
								stroke-linejoin: round;
							}
							&[fill="none"] {
								display: none;
							}
						}
						g{
							pointer-events: none;
						}
					}
				}
				foreignObject {
					width: 240px;
					height: 280px;
					opacity: 0;
    				transition: all 0.4s linear;
					div {
						background-color: #795932;
						border-radius: 11px;
						padding: 8px;
						img {
							width: 100%;
							height: 75%;
							object-fit: cover;
							margin-bottom: 8px;
						}
						label {
							display: block;
							text-align: center;
							font-weight: bold;
							font-size: 10px;
							line-height: 10px;
							color: #fff;
						}
					}
				}
				@media (max-width: 1100px) {
					transform: scale(1.1);
					top: -10%;
					foreignObject{
						display: none!important;
					}
				}
				@media (max-width: 500px) {
					transform: scale(1.2);
					top: -20%;
					left: -5%;
				}
			}
			ul.location-list {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 10%;
				margin: 0px;
				padding: 0px;
				list-style: none;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-gap: 15px;
				min-width: 100%;
				li.location-item {
					display: flex;
					align-items: center;
					cursor: pointer;
					span {
						&:first-of-type {
							background-color: #caa262;
							min-width: 30px;
							height: 30px;
							display: block;
							border-radius: 50%;
							text-align: center;
							line-height: 29px;
							font-weight: bold;
							color: #fff;
							margin-right: 12px;
						}
						&:last-of-type {
							font-size: 14px;
							position: relative;
							&::before {
								content: "";
								position: absolute;
								z-index: -1;
								width: calc(100% + 60px);
								height: 40px;
								background-color: #795932;
								display: block;
								top: -11px;
								transform: translateX(-46px);
								border-radius: 36px;
								opacity: 0;
								transition: opacity 0.3s linear;
							}
						}
					}
					&:hover {
						span {
							&:last-of-type {
								&::before {
									opacity: 1;
								}
							}
						}
					}
				}
				li.location-item.active{
					span {
						&:last-of-type {
							&::before {
								opacity: 1;
							}
						}
					}
				}
				@media (max-width: 1100px) {
					grid-template-columns: repeat(4, 1fr);
				}
				@media (max-width: 768px) {
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 10px;
					width: 100%;
    			padding: 0px 15px;
				}
				@media (max-width: 500px) {
					grid-template-columns: repeat(2,1fr);
					top: 50%;
				}
			}
		}
	}
}

#utilities-popup {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 999;
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #000000b3;
		z-index: 999;
	}
	.btn-close {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 46px;
		height: 46px;
		z-index: 9999;
		border: none;
		background-color: transparent;
		background-size: cover;
		@media (max-width: 1024px) {
			width: 33px;
    		height: 33px;
		}
	}
	.container {
		padding: 0px 44px;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		z-index: 999;
		width: 1100px;
		.swiper-container {
			width: 100%;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		.swiper-button-white {
			&::after {
				content: "";
			}
			width: 36px;
			height: 36px;
			background-size: cover;
		}

		.swiper-button-next {
			right: 5px;
		}

		.swiper-button-prev {
			left: 5px;
		}

		.swiper-slide {
			background-size: cover;
			background-position: center;
		}

		.gallery-top {
			height: 500px;
			max-width: 928px;
		}

		label.title {
			border-radius: 7px;
			position: absolute;
			bottom: 180px;
			z-index: 999;
			left: 50%;
			transform: translateX(-50%);
			padding: 12px 24px;
			background-color: #fff;
			font-size: 16px;
			line-height: 21px;
			color: #707070;
			text-transform: uppercase;
			font-weight: bold;
		}

		.gallery-thumbs {
			box-sizing: border-box;
			max-width: 738px;
			height: 150px;
			padding: 8px;
			margin-top: -50px;
			background-color: #fff;
		}

		.gallery-thumbs .swiper-slide {
			height: 100%;
		}

		.gallery-thumbs .swiper-slide-thumb-active {
			opacity: 1;
		}
		
		@media (max-width: 1024px) {
			width: 100%;
		}
	}
}
