@import "i-1.scss";
@import "i-2.scss";
@import "i-3.scss";
@import "i-4.scss";
@import "i-5.scss";
@import "i-6.scss";
@import "i-7.scss";
@import "i-8.scss";
@import "i-9.scss";

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
	  }
	  to {
		stroke-dashoffset: 0;
	  }
  }

@keyframes fillColor {
	from {
		fill: none;
	  }
	  to {
		fill: #FFAC3B;
	  }
  }

@keyframes fade {
	to {
	   transform: scale(2);
	   opacity: 0;
	}
 }

 @keyframes shake { 
	0% { 
		transform: skewX(-10deg); 
	} 

	25% { 
		transform: skewX(10deg); 
	} 

	50% { 
		transform: skewX(-10deg); 
	} 

	75% { 
		transform: skewX(10deg); 
	} 

	100% { 
		transform: skewX(-10deg); 
	} 
} 

@keyframes pointer {
    0%{
		opacity: 0.3
	}
    50%{
		opacity: 0.5
	}
    100%{
		opacity: 1
	}
}

@keyframes pointerCircle1 {
    0%{
		opacity: 0.55
	}
    40%{
		opacity: 0.6
	}
}

@keyframes pointerCircle2 {
    0%{
		opacity: 0.25
	}
    40%{
		opacity: 0.2
	}
}

@keyframes pointerCircle3 {
    40%{
		opacity: 0.2
	}
}

@keyframes pointerCircle4 {
    0%{
		opacity: 0.55
	}
    40%{
		opacity: 0.6
	}
}
