#home {
	.section-title {
		position: relative;
		.logo--big {
			top: 15%;
			left: 50%;
			position: absolute;
			z-index: 11;
			transform: translateX(-50%);
			@media (max-width: 1100px) {
				position: relative;
				text-align: center;
				top: unset;
				left: unset;
				transform: unset;
				margin-bottom: 60px;
				svg {
					width: 140px;
				}
			}
			@media (max-width: 575.98px) {
				svg {
					width: 170px;
					height: 220px;
				}
			}
		}
		.title {
			position: absolute;
			padding-left: 40%;
			bottom: 20%;
			width: 100%;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				height: 6px;
				width: 70vw;
				background-color: map-get($color, x-white);
				position: absolute;
			}
			p {
				font-size: 7rem;
				font-family: MyriaPro-Bold;
				font-weight: 700;
				line-height: 1.5;
				color: #ffffff;
			}
			
			@media (max-width: 1499.98px) {
				padding-left: 30%;
			}
			@media (max-width: 1100px) {
				position: relative;
				padding-left: 5%;
				bottom: unset;
				&::after {
					width: 50%;
				}
			}
			
			@media (max-width: 575.98px) {
				text-align: center;
				p {
					&::after {
						content: none !important;
					}
				}
			}
		}
		@media (max-width: 1100px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	.setting-section {
		background-position: 30%;
	
		&.show-content {
			svg {
				animation: scaleLarge;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
		}
		@media (max-width: 1100px) {
			height: 100vh;
			
		}
	}
	.grid-pattern {
		.block-animation-grid{
			width: 50%;
			height: 50vh;
			display: grid;
			grid-template-columns: repeat(40, 1fr);
			grid-template-rows: repeat(20, 1fr);
			.square{
				width: auto;
				height: auto;
			}
		}
	}
}
