
#introduce {
	.section-intro {
		background-size: 50% 100%;
		background-position: left;
		position: relative;
		@media (max-width: 767.98px) {
			text-align: center;
			
			background-image: none !important;
			&::before {
				content: none;
			}
			
		}		
		.grid-pattern {
			.block-animation-grid{
				width: 600px;
				left: 20%;
				mix-blend-mode: unset;
    			opacity: 0.4;
				.square{
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	.intro__wrapper {
		max-width: 50%;
		padding-left: 100px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		z-index: 1;
		.title {
			display: inline-flex;
			padding-right: 70px;
			position: relative;
			margin-bottom: 30px;
			h2 {
				color: map-get($color, x-blue);
				font-size: 1.8rem;
				font-family:Montserat-Black;
				font-weight: bold;
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				height: 1px;
				background: map-get($color, x-line);
				width: 65px;
			}
		}
		.sub-title {
			margin-bottom: 20px;
			h3 {
				font-family: MyriaPro-Bold;
				font-size: 6.5rem;
				color: map-get($color, x-blue);
			}
		}
		.sub-desc {
			margin-bottom: 15px;
			max-width: 400px;
			p {
				color: #707070;
			}
		}
		.btn--see-more {
			margin-bottom: 30px;
		}
		@media (max-width: 1100px) {
			position: relative;
			padding-left: 20px;
			margin-left: auto;
			top: unset;
			left: unset;
			transform: unset;
			padding-top: 50px;
			padding-bottom: 50px;
			.title {
				padding-right: unset;
				&::after {
					content: none;
				}
			}
			.sub-title {
				h3 {
					font-size: 5rem;
				}
			}
		}
		@media (max-width: 767.98px) {
			max-width: 700px;
			margin: 0 auto;
			padding-left: unset;
			.sub-desc {
				margin-left: auto;
				margin-right: auto;
				p {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}
			}
		}
	
		@media (max-width: 575.98px) {
			.sub-title {
				h3 {
					font-size: 3.5rem;
				}
			}
		}
	}
}