
.section-utilities {
	background: #08152E !important;
	.container{
		.container-custom {
			.utilities__wrapper {
				.content-main {
					padding-left: 105px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					.title--main {
						margin-bottom: 20px;
						p {
							font-size: 6.5rem;
							font-family: MyriaPro-Bold;
							color: #FCCB81;
							&:last-child {
								padding-left: 100px;
							}
						}
					}
					.desc {
						padding-left: 100px;
						position: relative;
						&::after {
							content: "";
							position: absolute;
							top: 5px;
							left: 0;
							width: 90px;
							height: 1px;
							background: #FCCB81;
						}
						@media (max-width: 1439.98px) {
							&::after {
								content: none;
							}
						}
					}
					.sub-title {
						margin-bottom: 20px;
						p {
							color: map-get($color, x-white);
						}
					}
					.btn--see-more {
						a {
							color: map-get($color, x-white);
							svg {
								path {
									stroke: map-get($color, x-white);
								}
							}
						}
					}
				}
			
		
				.content-main-right {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					.row {
						align-items: center;
						margin-right: -20px;
						margin-left: -20px;
					}
					.img {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						position: relative;
						padding-left: 20px;
						padding-right: 20px;
						.img--left {
							position: relative;
							&::after {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: rgba($color: #000000, $alpha: .43);
							}
						}
					}
					.desc {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						padding: 0px 20px;
						padding-top: 70px;
						.swiper-container {
							height: 100%;
							.swiper-wrapper {
								display: flex;
								flex-direction: column;
								.swiper-slide {
									display: flex;
									height: fit-content !important;
									margin-bottom: 70px;
								}
							}
						}
						.wrapper {
							display: flex;
							align-items: center;
							border-bottom: 1px solid #FCCB81;
							max-width: 338px;
							max-height: 100px;
							padding-bottom: 5px;
							cursor: default;
							@media (min-width: 1025px) {
								&:hover{								
									animation: shake 0.4s ease-out; 
								}
							}
							.desc-slide {
								padding-left: 40px;
								p {
									color: map-get($color, x-white);
									span {
										font-family:Montserat-Black;
										font-weight: 700;
										color: #FCCB81;
									}
								}
							}
						}
						@media (max-width: 1439.98px) {
							padding-top: 40px;
							.swiper-container {
								.swiper-slide {
									margin-bottom: 40px;
								}
							}
						}
						@media (max-width: 575.98px) {
							.swiper-container {
								.swiper-slide {
									margin-bottom: 25px;
								}
							}
						}
					}
				}
				.grid-pattern {
					.block-animation-grid{
						bottom: 0px;
						left: 20%;
						width: 440px;
						height: 160px;
						top: unset;
						display: grid;
						grid-template-columns: repeat(40, 1fr);
						grid-template-rows: repeat(20, 1fr);
						.square{
							width: 10px;
							height: 10px;
						}
					}
				}
				@media (max-width: 1599.98px) {
					.content-main {
						-ms-flex: 0 0 41.666667%;
						flex: 0 0 41.666667%;
						max-width: 41.666667%;
					}
					.content-main-right {
						-ms-flex: 0 0 58.333333%;
						flex: 0 0 58.333333%;
						max-width: 58.333333%;
					}
				}
				@media (max-width: 1439.98px) {
					.content-main {
						padding-left: unset;
					}
				}
				@media (max-width: 1100px) {
					padding-top: 50px;
					.row {
						justify-content: center;
						max-width: 100%;
						padding: 0px;
						margin: 0px!important;
					}
					.content-main {
						position: relative;
						top: unset;
						transform: unset;
						padding-left: unset;
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 700px;
						margin-bottom: 20px;
						.title--main {
							p {
								font-size: 5rem;
							}
							display: flex;
							justify-content: center;
							p:last-child {
								padding-left: 10px;
							}
							@media (max-width: 575.98px) {
								p {
									font-size: 3.5rem;
								}
							}
						}
						.sub-title {
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 1;
						}
					}
					.content-main-right {
						position: relative;
						top: unset;
						right: unset;
						transform: unset;
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
						.desc {
							
							.wrapper {
								margin-right: unset;
								max-width: 100%;
								width: 100%;
							}
						}
						
					}
				}
				@media (max-width: 1024.98px) {
					.content-main {
						.desc {
							max-width: 70%;
							margin: 0 auto;
							padding: 0 10px;
							text-align: center;;
							&::after {
								content: none;
							}
						}
					}
				}
				@media (max-width: 575.98px) {
					.content-main-right {
						.row {
							> div {
								-ms-flex: 0 0 100%;
								flex: 0 0 100%;
								max-width: 100%;
							}
							.desc {
								padding-bottom: 0;
							}
						}
					}
				}
			}	
		}	
	}
}