.section-contact-2 {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background: rgba($color: #000000, $alpha: .75);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.contact-2__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 820px;
		margin: 0 auto;
		padding-top: 80px;
		@media (max-height:900px) {
			padding-top: 0;
			justify-content: center;
			padding-bottom: 50px;
		}
	}
	.logo--contact {
		margin-bottom: 35px;
		@media (max-width: 1100px) {
			
			svg {
				width: 170px;
				height: 220px;
			}
		}
		@media (max-height: 768.98px) {
			margin-bottom: 5px;
			svg {
				width: 170px;
				height: 220px;
			}
		}
	}
	.title {
		padding-bottom: 20px;
		margin-bottom: 15px;
		position: relative;
		@media (max-height: 768.98px) {
			margin-bottom: 5px;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 204px;
			height: 0.5px;
			background: #ffffff;
		}
		h3 {
			font-size: 2.5rem;
			color: #F1BE78;
			font-family:Montserat-Black;
		}
	}
	.info {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		@media (max-height: 768.98px) {
			margin-bottom: 5px;
		}
		p {
			line-height: 1.7;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 204px;
			height: 0.5px;
			background: #ffffff;
		}
	}
	.project {
		max-width: 405px;
		text-align: left;
		margin-bottom: 25px;
		@media (max-height: 768.98px) {
			margin-bottom: 5px;
		}
	}
	.info,
	.project {
		p {
			font-size: 1.8rem;
			color: #FFFFFF;
		}
	}
	.partner {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		max-height: 125px;
		height: 100%;
		padding-top: 20px;
		border-top: .5px solid #ffffff;
		@media (max-width: 575.98px) {
			justify-content: center;
		}
		> div {
			max-width: 225px;
			width: fit-content;
			height: 100%;
			margin-bottom: 10px;
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
		.text {
			margin-bottom: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				font-size: 1.2rem;
				font-family: Montserrat-Light;
			}
		}
		@media (max-width: 1100px) {
			max-height: unset;
		}
	}
}