.fp-slide.section#introduce-detail--1(fp-title="Introduce" data-anchor="#introduce--1").clearfix
	section.setting-section.section-introduce--1(fp-bg="")
		.container.h-100
			.container-custom.container-1365px.h-100
				.section-introduce--1__wrapper
					.row
						.col-6.content--desc
							.content--desc__wrapper
								.title.animate__animated.animate__fadeInUp.animate__delay-2s
									h2 KHU CĂN HỘ COMPOUND CAO CẤP
								.symbol.animate__animated.animate__fadeInUp.animate__delay-1s
									h1 Happy One Central
								.sub-title.animate__animated.animate__fadeInUp.animate__delay-2s
									p Một không gian sống đem đến trải nghiệm viên mãn, tròn đầy. Nơi đây chính là chốn an cư hoàn hảo nhất dành cho những chủ nhân xứng tầm với khát khao về một cuộc sống phồn hoa, nhộn nhịp nhưng vẫn đầy ắp những mảng xanh, những không gian lộng gió. Nơi DUY NHẤT đong đầy hạnh phúc, nơi trọn vẹn từng vun giây bên gia đình, nơi cảm xúc thăng hoa đúng nghĩa như cái tên của dự án Happy One Central.
						.col-6.content--img
							.img.animate__animated.animate__backInDown.animate__delay-1s
								img.object-cover.fullsize(src="./assets/img/introduce/introduce-1.png", alt="")
		.grid-pattern
			.block-animation-grid