.fp-slide#introduce-detail--2(fp-title="")
	section.setting-section.section-introduce--2(fp-bg="")
		.container.h-100
			.container-custom.container-1365px.h-100
				.section-introduce--2__wrapper
					.title
						h2 Quy mô dự án
					.row
						.col-4.content--desc
							.item
								.img
									img.svg(src="./assets/img/introduce/item-1.svg", alt="")
								.desc
									p
										!= "<span>Chủ đầu tư: </span>Công ty cổ phần tập đoàn Địa Ốc Vạn Xuân"
							.item
								.img
									img.svg(src="./assets/img/introduce/item-2.svg", alt="")
								.desc
									p
										!= "<span>Tổng thầu : </span>Công ty cổ phần xây dựng Central"
							.item
								.img
									img.svg(src="./assets/img/introduce/item-3.svg", alt="")
								.desc
									p
										!= "<span>Vị trí : </span> Phường phú hoà, T.P Thủ Dầu Một, Bình Dương"
							.item
								.img
									img.svg(src="./assets/img/introduce/item-4.svg", alt="")
								.desc
									p
										!= "<span>Quy mô : </span>10.162 m2, 2 Block, Cao 40 tầng + 3 tầng hầm"
						.col-4.content--img
							.img
								img.object-cover.fullsize(src="./assets/img/introduce/introduce-2.png", alt="")
						.col-4
							.item
								.img
									img.svg(src="./assets/img/introduce/item-5.svg", alt="")
								.desc
									p
										!= "<span>Số lượng sản phẩm:  </span>1290 căn hộ và 14 căn shophouse"
							.item
								.img
									img.svg(src="./assets/img/introduce/item-6.svg", alt="")
								.desc
									p
										!= "<span>Diện tích căn hộ : </span> 49 – 68 – 91 m2 với 1,2,3 phòng ngủ"
							.item
								.img
									img.svg(src="./assets/img/introduce/item-7.svg", alt="")
								.desc
									p
										!= "<span>Tổng diện tích sàn xây dựng: </span> 156.784 m2"