.fp-slide.section#introduce-detail--3(fp-title="Introduce" data-anchor="#introduce--3").clearfix
	section.setting-section.section-introduce--3(fp-bg="")
		.container.h-100
			.container-custom.container-1365px.h-100
				.section-introduce--3__wrapper.animate__animated.animate__fadeInUp.animate__delay-1s
					.row
						.title
							h2 Đơn vị phát triển
						.detail-content
							.item.animate__animated.animate__fadeInUp.animate__delay-2s
								.item__wrapper
									.title
										p CHỦ ĐẦU TƯ
									.img
										.logo
											img.object-cover(src="./assets/img/introduce/vanxuan-logo.png", alt="")
									.desc
										p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis d dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies an.
							.item.animate__animated.animate__fadeInUp.animate__delay-3s
								.item__wrapper
									.title
										p ĐƠN VỊ PHÁT TRIỂN KINH DOANH
									.img
										.logo
											img.object-cover(src="./assets/img/introduce/cengroup-logo.png", alt="")
										.logo
											img.object-cover(src="./assets/img/introduce/vinahome-logo.png", alt="")
									.desc
										p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis d dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies an.
							.item.animate__animated.animate__fadeInUp.animate__delay-2s
								.item__wrapper
									.title
										p TỔNG THẦU XÂY DỰNG
									.img
										.logo
											img.object-cover(src="./assets/img/introduce/central-logo.png", alt="")
									.desc
										p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis d dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies an.
		.grid-pattern
			.block-animation-grid
