.fp-slide#location(fp-title="Vị Trí")
	section.setting-section.section-location(fp-bg="none")
		.container.h-100
			.container-custom.container-1660px.h-100
				.content--main
					.box-txt
						.title-main
							h2 Vị Trí
						.sub-title
							p Toạ lạc tại trung tâm phường Phú Hoà – nơi sôi động bậc nhất thành phố Thủ Dầu Một, Điểm vàng kết nối giao thương với hệ thống đại lộ huyết mạch như đường DT743, Quốc lộ 1A, Quốc lộ 1K, Quốc lộ 13, đường cao tốc Mỹ phước – Tân Vạn,… mang đến cho cư dân sự thuận tiện tối đa trong di chuyển.
						.btn--see-more.btn
							a(href="") Xem Thêm
									img.svg(src="./assets/img/index/seemore.svg", alt="")
				// id="Path_10557" class="st-line"
				// Path_10643-* for dot animation
				.map-svg
					img.svg(src="./assets/img/index/video-icon-3.svg", alt="")
				.box-circle
					.show-box(data-box-id="sample", data-url-img ="./assets/img/location")
						img(src="/assets/img/index/location/Group_4314.png", alt="")
						h3 ĐẠI HỌC BÌNH DƯƠNG