.fp-slide.section#libary-file(fp-title="FILE DOWNLOAD" data-anchor="file")
	section.setting-section.section-file
		.container.h-100
			.contaienr-custom.container-1365px.h-100
				.libary__wrapper.file-libary
					.swiper-container
						.swiper-wrapper
							-for(var i = 0; i < 12;i++)
								.swiper-slide
									a(href="" download).block-item
										.img
											img.object-cover(src="./assets/img/libary/down.png", alt="")
										.txt
											p Lorem ipsum dolor sit, sit amet adipiscing consectetuer elit.
					.swiper-button-next
					.swiper-button-prev