#utilities-popup
	button.btn-close(style='background-image:url(./assets/img/utilities-detail/btn-close.svg)')
	.container
		.swiper-container.gallery-top
			.swiper-wrapper
		// Add Arrows
		.swiper-button-next.swiper-button-white(style="background-image:url(./assets/img/utilities-detail/arrow-right.svg")
		.swiper-button-prev.swiper-button-white(style="background-image:url(./assets/img/utilities-detail/arrow-left.svg)")
		label.title Something
		.swiper-container.gallery-thumbs
			.swiper-wrapper
