.fp-slide.section#utilities-detail(fp-title="Utilities Detail")
	section.setting-section.section-introduce--1
		.container.h-100
			.container-custom.container-1365px.h-100
				img.svg(src="./assets/img/utilities-detail/map-1.svg", alt="map")
				ul.location-list
					//- li.location-item
					//- 	span 01
					//- 	span Sảnh Đón Hetia