.fp-slide.section#utilities-detail(fp-title="Utilities Detail")
    section.setting-section.section-introduce--1
        .container.h-100
            img.svg(src="./assets/img/utilities-detail/map-1.svg", alt="map")
            ul.location-list
                li.location-item(data-anchor="01")
                    span 01
                    span Sảnh đón Hetia
                li.location-item(data-anchor="02")
                    span 01
                    span Sảnh đón Hetia
                li.location-item(data-anchor="03")
                    span 01
                    span Sảnh đón Hetia
                li.location-item(data-anchor="04")
                    span 01
                    span Sảnh đón Hetia 1234
                li.location-item(data-anchor="05")
                    span 01
                    span Sảnh đón Hetia
                li.location-item(data-anchor="06")
                    span 01
                    span Sảnh đón Hetia