.fp-slide.section#utilities-detail(fp-title="Utilities Detail")
    section.setting-section.section-introduce--1(fp-bg="")
        .container.h-100
            img.svg(src="./assets/img/utilities-detail/map-1.svg", alt="map")
            ul.location-list
                li.location-item
                    span 01
                    span Sảnh đón Hetia
                li.location-item
                    span 01
                    span Sảnh đón Hetia
                li.location-item
                    span 01
                    span Sảnh đón Hetia
                li.location-item
                    span 01
                    span Sảnh đón Hetia 1234
                li.location-item
                    span 01
                    span Sảnh đón Hetia
                li.location-item
                    span 01
                    span Sảnh đón Hetia