.fp-slide.section#utilities-detail(fp-title="TẦNG 20" data-anchor="utilities-3")
	section.setting-section.section-introduce--1
		.container.h-100
			.container-custom.container-1365px.h-100
				.map-svg
					img.svg(src="./assets/img/utilities-detail/util-3.svg", alt="map")
					.object()
						div
							img(src="", alt="")
							label
				ul.location-list
					li.location-item(data-anchor="44")
						span 44
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-13.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
					li.location-item(data-anchor="02")
						span 02
						span Đài phun nước nghệ thuật
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-13.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-14.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="03")
						span 03
						span Biểu trưng dự án
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="04")
						span 04
						span Coffee Terracee
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="05")
						span 05
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="06")
						span 06
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="07")
						span 07
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="08")
						span 08
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="09")
						span 09
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-12.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="10")
						span 10
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="11")
						span 11
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="12")
						span 12
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="13")
						span 13
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="14")
						span 14
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="15")
						span 15
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="16")
						span 16
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="17")
						span 17
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="18")
						span 18
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="19")
						span 19
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")
					li.location-item(data-anchor="20")
						span 20
						span Sảnh Đón Hetia
						.d-none
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-11.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-12.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-13.jpg')")
							.swiper-slide(data-bg="./assets/img/utilities-detail/u-11.jpg" style="background-image: url('./assets/img/utilities-detail/u-14 .jpg')")