.fp-slide.section#utilities-detail(fp-title="TẦNG 40" data-anchor="utilities-4")
	section.setting-section.section-introduce--1
		.container.h-100
			.container-custom.container-1365px.h-100
				.map-svg
					img.svg(src="./assets/img/utilities-detail/util-4.svg", alt="map")
					.object()
						div
							img(src="", alt="")
							label
				.location-list
					.location-item(data-anchor="22")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 22
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="02")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 02
							span Đài phun nước nghệ thuật
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="03")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 03
							span Biểu trưng dự án
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="04")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 04
							span Coffee Terracee
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="05")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 05
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="06")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 06
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="07")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 07
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="08")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 08
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="09")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 09
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="10")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 10
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="11")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 11
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="12")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 12
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="13")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 13
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="14")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 14
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="15")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 15
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="16")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 16
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="17")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 17
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="18")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 18
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="19")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 19
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")
					.location-item(data-anchor="20")
						.img
							img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
						.desc
							span 20
							span Sảnh Đón Hetia
						.d-none
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-11.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-12.jpg", alt="")
							.swiper-slide
								.img-slide
									img(src="./assets/img/utilities-detail/u-13.jpg", alt="")