.fp-slide.section.clearfix#room(fp-title="Room", data-anchor="room")
	section.setting-section.section-room-apartment.h-100(fp-bg="./assets/img/index/bg-1.png")
		.container.h-100
			.room-apartment__wrapper.h-100
				.house-detail.row
					.content-house.col-3
						.statistics
							.room-position
								h3 TẦNG 04 - 39
								p Vị trí A-17
							.title
								h3 BẢNG THỐNG KÊ DIỆN TÍCH
							.sub
								p
									span Diện tích tim tường
									span 115m
										sup 2
								p
									span Diện tích thông thủy
									span 105.54m
										sup 2
						.desc
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
							p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
					.image-house.col-9
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.image-house__wrapper
										.img-left
											img(src="./assets/img/apartment/room.png", alt="")
										.img-right
											.img-right__wrapper
												.img
													img(src="./assets/img/apartment/direction.png", alt="")
												.desc
													p HƯỚNG & VỊ TRÍ
						.swiper-button-prev
						.swiper-button-next