extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Apartment Detail';
	- let bodyClass = 'apartment-detail-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
		.fp-wrapper
			include _templates/apartment-detail-2/a-3
block scripts
