extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Introduce';
	- let bodyClass = 'introduce-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	.fp-wrapper.fp-introduce-page
		include _templates/fullpage/index
block scripts
