extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

//- block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	.fp-container
		.fp-wrapper
			//- include _templates/index/i-1
			//- include _templates/index/i-2
			include _templates/index/i-3
			//- include _templates/index/i-4
			//- include _templates/index/i-5
			//- include _templates/index/i-6
			//- include _templates/index/i-7
		.fp-language
			.container
				.container-custom.container-1660px
					.fp-language__wrapper
						.language
							.languages__item.item
								a(href="").languages__link VN
							.languages__item.item
								a(href="").languages__link EN
		.fp-navigations
			.fp-prev
			.fp-next
		.fp-buttons
			.fp-buttons__wrapper
				.fp-next
					span
					span
					span
		.fp-socials
			.container
				.container-custom.container-1660px
					.fp-socials__wrapper
						.socials__wrapper
							.socials
								a(href="#").social__item
									img.svg(src="./assets/img/index/insta.svg", alt="instagram")
								a(href="#").social__item
									img.svg(src="./assets/img/index/facebook.svg", alt="facebook")
								a(href="#").social__item
									img.svg(src="./assets/img/index/youtube.svg", alt="youtube")
						.fp-links__wrapper
							.fp-link-item
								a(href="http://hatngoctroi.vn/" target="_blank") 0965.656.587
							.fp-link-item
								a(href="http://huongvitroi.vn/" target="_blank") ĐĂNG KÝ NHẬN TIN
							.fp-link-item
								a(href="http://nguoiloctroi.vn/" target="_blank")
									.icon-desc
										span Căn Hộ 360
									.icon
										img(src="./assets/img/index/360.png", alt="")
block scripts
