extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Room Detail';
	- let bodyClass = 'room-detail-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
		.fp-wrapper
			include _templates/room-detail/a-2
block scripts
