extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Utilities Detail';
	- let bodyClass = 'utilities-detail-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
		.fp-wrapper#fullpage-utilities-detail
			include _templates/utilities-detail/u-1
			//- include _templates/utilities-detail/u-2
			//- include _templates/utilities-detail/u-3
			//- include _templates/utilities-detail/u-4
prepend footer
	include _templates/utilities-detail/popup
block scripts
