#fullpage
  #section0.section
    h1 Section 1
  #section1.section
    h1 Slide 2.2
    p
        | We are using the class &grave;active&grave; on this section and in this particular horizontal slide. This way it will appear on the viewport on page load, instead of the 1st section 1st slide.
    p You can apply the same logic to horizontal slides
  #section2.section
    .intro
      h1 Section 3
