.fp-slide.section#home(fp-title="Trang chủ", data-anchor="slider-home")
	section.setting-section.section-homepage(fp-bg="./assets/img/index/bg-1.png")
		.section-title.h-100
			.logo--big.animate__animated.animate__pulse.animate__delay-1s
				img.svg(src="./assets/img/index/logo-new.svg", alt="")
			.title 
				p.animate__animated.animate__bounceInLeft.animate__delay-2s KHU CĂN HỘ COMPOUND
				span.line.animate__animated.animate__bounceInLeft.animate__delay-1s
				p.animate__animated.animate__bounceInLeft.animate__delay-2s CAO CẤP
		.grid-pattern
			.block-animation-grid
