.fp-slide#home(fp-title="Trang chủ")
	section.setting-section.section-homepage(fp-bg="./assets/img/index/bg-1.png")
		.section-title.h-100
			.logo--big
				img.svg(src="./assets/img/index/logo-new.svg", alt="")
			.title 
				p KHU CĂN HỘ COMPOUND
				p CAO CẤP
		.grid-pattern
			.block-animation-grid
