.fp-slide.section#introduce(fp-title="Giới Thiệu", data-anchor="slider-introduce")
	section.setting-section.section-intro(fp-bg="./assets/img/index/bg-2.png")
		.container.h-100
			.container-custom.container-1660px.h-100
				.intro__wrapper
					.title.animate__animated.animate__bounceInRight.animate__delay-1s
						h2 KHU CĂN HỘ COMPOUND CAO CẤP
					.sub-title
						h3.animate__animated.animate__zoomIn.animate__delay-2s HAPPY ONE CENTRAL
					.sub-desc
						p.lcl.lcl-4.animate__animated.animate__zoomIn.animate__delay-2s Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos modi praesentium, ex amet nam iusto molestiae neque saepe reprehenderit reiciendis consectetur enim voluptas animi tempora numquam exercitationem natus! Saepe, soluta.
					.btn--see-more.btn.animate__animated.animate__zoomIn.animate__delay-2s
						a(href="/introduce.html") Xem Thêm
							img.svg(src="./assets/img/index/seemore.svg", alt="")
					.intro--swiper.animate__animated.animate__fadeInUp.animate__delay-3s
						.swiper-container
							.swiper-wrapper
								-for(var i = 0; i < 9; i ++)
									.swiper-slide
										.img
											img(src=`./assets/img/index/intro-${i%3 + 1}.png`, alt="")
			.grid-pattern
				.block-animation-grid