.fp-slide.section#introduce(fp-title="Giới Thiệu", data-anchor="slider-introduce").clearfix
	section.setting-section.section-intro(fp-bg="./assets/img/index/bg-2.png")
		.container.h-100
			.container-custom.container-1660px.h-100
				.intro__wrapper
					.title.animate__animated.animate__bounceInRight.animate__delay-1s
						h2 KHU CĂN HỘ COMPOUND CAO CẤP
					.sub-title
						h3.animate__animated.animate__zoomIn.animate__delay-2s HAPPY ONE CENTRAL
					.sub-desc
						p.lcl.lcl-4.animate__animated.animate__zoomIn.animate__delay-2s Happy One Central không chỉ dừng lại một dự án siêu sang, đẳng cấp, đậm chất Singapore mà còn trở thành một biểu tượng mới của Bình Dương. Hai tòa tháp cao 40 tầng vươn mình kiêu hãnh giữa lòng đô thị hiện đại, khởi nguồn cho phong cách sống tiên phong.
					.btn--see-more.btn.animate__animated.animate__zoomIn.animate__delay-2s
						a(href="/introduce.html") Xem Thêm
							img.svg(src="./assets/img/index/seemore.svg", alt="")
					.intro--swiper.animate__animated.animate__fadeInUp.animate__delay-3s
						.swiper-container
							.swiper-wrapper
								-for(var i = 0; i < 9; i ++)
									.swiper-slide
										.img
											img(class="swiper-lazy" data-src=`./assets/img/index/intro-${i%3 + 1}.png`, alt="")
			.grid-pattern
				.block-animation-grid