.fp-slide#video(fp-title="Video")
	section.setting-section.section-intro(fp-bg="none")
		.box-video-center
			.video-youtube-full.playing
				.control-youtube
					a(href="javascript:;")#play.play-button.show
					a(href="javascript:;")#pause.pause-button
				.bg-video(fp-bg="./assets/img/index/bg-video.png")
				.youtube-video(data-embed="https://youtube/bS7q40KlgzA")
					div#VYT
				.control.show
					span#current 4:04
					span /
					span#duration 5:43
					button#play(type="button")
					button#pause(type="button")
					button#fullscreen(type="button")