.fp-slide.section#video(fp-title="Video", data-anchor="slider-video")
	section.setting-section.section-intro(fp-bg="none")
		.box-video-center
			.video-youtube-full.playing
				.control-youtube
					a(href="javascript:;")#play-big.play-button.show
					a(href="javascript:;")#pause-big.pause-button
				.bg-video(fp-bg="./assets/img/index/bg-video.png")
				.youtube-video(data-youtube-id="jgZkrA8E5do")
					div#VYT
				.control.show
					span#current-time 4:04
					span /
					span#duration 5:43
					button#play(type="button")
					button#pause(type="button")
					button#fullscreen(type="button")