.fp-slide#location(fp-title="Vị Trí")
	section.setting-section.section-location(fp-bg="none")
		.container.h-100
			.container-custom.container-1660px.h-100
				.map-svg
					img.svg(src="./assets/img/index/video-icon-2.svg", alt="")
				.content--main
					.box-txt
						.title-main
							h2 __ Vị Trí
						.sub-title
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur unde qui corporis deserunt nobis nam eveniet dolor non, laudantium, assumenda ullam neque eum praesentium, commodi nihil earum ipsam animi tempora!
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eaque ipsa facere dicta. Maxime ab debitis explicabo atque fuga architecto dignissimos, a sunt iure eveniet accusamus facere fugit vitae vel.
						.btn--see-more.btn
							a(href="") Xem Thêm
									img.svg(src="./assets/img/index/seemore.svg", alt="")