.fp-slide.section#location(fp-title="Vị Trí", data-anchor="slider-location")
	section.setting-section.section-location(fp-bg="none")
		.container.h-100
			.container-custom.container-1660px.h-100
				.content--main
					.box-txt
						.title-main.animate__animated.animate__zoomIn.animate__delay-2s
							h2 Vị Trí
						.sub-title.animate__animated.animate__zoomIn.animate__delay-2s
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula... eget dolor. Aenean massa. Cum sociis natoque... penatibus et magnis dis parturient Montes... nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis. 
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eaque ipsa facere dicta. Maxime ab debitis explicabo atque fuga architecto dignissimos, a sunt iure eveniet accusamus facere fugit vitae vel.
						.btn--see-more.animate__animated.btn.animate__zoomIn.animate__delay-2s
							a(href="") Xem Thêm
									img.svg(src="./assets/img/index/seemore.svg", alt="")
				.map-svg.animate__animated.animate__zoomIn.animate__delay-1s
					img.svg(src="./assets/img/index/video-icon-2.svg", alt="")