.fp-slide.section#utilities(fp-title="Tiện ích", data-anchor="slider-utilities")
	section.setting-section.section-utilities(fp-bg="")
		.container.h-100
			.container-custom.container-1660px.h-100
				.utilities__wrapper.h-100
					.row.h-100
						.col-4.content-main
							.title--main
								p Tiện Ích
								p Đẳng Cấp
							.desc
								.sub-title
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula... eget dolor. Aenean massa. Cum sociis natoque... penatibus et magnis dis parturient Montes... nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla... vel, aliquet nec
								.btn--see-more.btn
									a(href="") Xem Thêm
											img.svg(src="./assets/img/index/seemore.svg", alt="")
						.col-8.content-main-right
							.row
								.img.col-6
									.img--left
										img.object-cover.fullsize(src="./assets/img/index/util.png", alt="")
								.desc.col-6
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-1.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 40 ( tầng mát ): </span>Tầng cảnh quan độc đáo với đài cầu cảnh quan trên không độc đáo."
											.swiper-slide
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-2.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 20: </span>Tầng tiện ích đẳng cấp hàng Thương gia."
											.swiper-slide
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-3.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 3: </span>Tiện ích khu vui chơi và sinh hoạt cộng đồng."
											.swiper-slide
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-4.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng trệt & hầm: </span> Khu thương mại và khuôn viên cảnh."
					.grid-pattern
						.block-animation-grid