.fp-slide.section#utilities(fp-title="Tiện ích", data-anchor="slider-utilities")
	section.setting-section.section-utilities(fp-bg="")
		.container.h-100
			.container-custom.container-1660px.h-100
				.utilities__wrapper.h-100
					.row.h-100
						.col-4.content-main
							.title--main.animate__zoomIn.animate__animated.animate__delay-1s
								p Tiện Ích
								p Đẳng Cấp
							.desc
								.sub-title.animate__zoomIn.animate__animated.animate__delay-1s
									p Happy One Central tích hợp 68 tiện ích đẳng cấp với công viên cây xanh, quảng trường chân mây, hồ bơi tràn bờ, hệ thống tường rào compound ngăn cách khói bụi, ồn ào mang đến trải nghiệm sống xanh, sống an lành giữa lòng thành phố.
								.btn--see-more.btn.animate__zoomIn.animate__animated.animate__delay-1s
									a(href="") Xem Thêm
											img.svg(src="./assets/img/index/seemore.svg", alt="")
						.col-8.content-main-right
							.row
								.img.col-6
									.img--left.animate__flipInY.animate__animated.animate__delay-2s
										img.object-cover.fullsize(src="./assets/img/index/util.png", alt="")
								.desc.col-6
									.swiper-container
										.swiper-wrapper
											.swiper-slide.animate__slideInRight.animate__animated.animate__delay-3s
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-1.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 40 ( tầng mát ): </span>Tầng cảnh quan độc đáo với đài cầu cảnh quan trên không độc đáo."
											.swiper-slide.animate__slideInRight.animate__animated.animate__delay-3s
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-2.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 20: </span>Tầng tiện ích đẳng cấp hàng Thương gia."
											.swiper-slide.animate__slideInRight.animate__animated.animate__delay-3s
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-3.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng 3: </span>Tiện ích khu vui chơi và sinh hoạt cộng đồng."
											.swiper-slide.animate__slideInRight.animate__animated.animate__delay-3s
												.wrapper
													.img-slide
														img.svg(src="./assets/img/index/util-4.svg", alt="")
													.desc-slide
														p
															!= "<span>Tầng trệt & hầm: </span> Khu thương mại và khuôn viên cảnh."
					.grid-pattern
						.block-animation-grid