.fp-slide#apartment(fp-title="Mặt bằng căn hộ")
	section.setting-section.section-apartment(fp-bg="./assets/img/index/apartment.png")
		.arpartment-map
			// id="apartment-svg"
			// id=Floor-* has class="floor"
			// id=Info-* has class="info"
			img.svg(src="./assets/img/index/apartment.svg", alt="map")
			.title--main
				p Mặt bằng
				p Căn hộ