.fp-slide.section#apartment(fp-title="Mặt bằng căn hộ", data-anchor="slider-apartment").clearfix
	section.setting-section.section-apartment(fp-bg="")
		.arpartment-map
			// id="apartment-svg"
			// id=Floor-* has class="floor"
			// id=Info-* has class="info"
			img.svg(src="./assets/img/index/apartment.svg", alt="map")
			.title--main.animate__zoomIn.animate__animated.animate__delay-1s
				p Mặt bằng
				p Căn hộ