.fp-slide#apartment(fp-title="Mặt bằng căn hộ")
	section.setting-section.section-apartment(fp-bg="")
		.arpartment-map
			img.svg(src="./assets/img/index/apartment.svg", alt="map")
			.title--main
				p Mặt bằng
				p Căn hộ