.fp-slide#contact(fp-title="Liên Hệ")
	section.setting-section.section-contact(fp-bg="./assets/img/index/contact-bg.png")
		.container.h-100
			.container-custom.container-1140px.h-100
				.contact__wrapper
					.contact--title
						h2 Liên Hệ
					.row
						.col-6.info-content
							h3 CÔNG TY CỔ PHẦN TẬP ĐOÀN ĐỊA ỐC VẠN XUÂN
							.address
								a(href="").contact-info
									.icon
										img.svg(src="./assets/img/index/position.svg", alt="")
									.text
										span 50 Hà Huy Giáp, KP3A, Phường Thạnh Lộc, Quận 12, Tp HCM
								a(href="").contact-info
									.icon
										img.svg(src="./assets/img/index/mail.svg", alt="")
									.text
										span Contact@happyone.vn
								a(href="").contact-info
									.icon
										img(src="./assets/img/index/phone.svg", alt="")
									.text
										span 0929 009 555
								.contact-info
									.icon
									.text
										span Liên Kết
										.socials
											a(href="#").social__item
												img.svg(src="./assets/img/index/insta.svg", alt="instagram")
											a(href="#").social__item
												img.svg(src="./assets/img/index/facebook.svg", alt="facebook")
											a(href="#").social__item
												img.svg(src="./assets/img/index/youtube.svg", alt="youtube")
								.grid-pattern
									.block-animation-grid
						.col-6.company-info
							.company
								.item
									.text
										p CHỦ ĐẦU TƯ
									.logo
										img( class="object-cover" src="./assets/img/index/vanxuan.png", alt="")
								.item
									.text
										p ĐƠN VỊ PHÁT TRIỂN KINH DOANH
									.logo
										img( class="object-cover" src="./assets/img/index/cengroup.png", alt="")
								.item
									.text
										p TỔNG THẦU XÂY DỰNG:
									.logo
										img( class="object-cover" src="./assets/img/index/central.png", alt="")
