.fp-slide.section#contact-2(fp-title="Liên Hệ", data-anchor="slider-contact").clearfix
	section.setting-section.section-contact-2(fp-bg="./assets/img/index/contact-new.jpg")
		.container.h-100
			.container-custom.container-820px.h-100
				.contact-2__wrapper
					.logo--contact.animate__animated.animate__pulse.animate__delay-1s
						img.svg(src="./assets/img/index/logo-new.svg", alt="")
					.title
						h3 CÔNG TY CỔ PHẦN TẬP ĐOÀN ĐỊA ỐC VẠN XUÂN
					.info
						p 50 Hà Huy Giáp, KP3A, P. Thạnh Lộc, Q. 12, TP.HCM
						p Website: Contact@happyone.vn
						p Điện thoại: 0965 65 65 87
					.project
						p Dự án HAPPY ONE CENTRAL: Phường Phú Hoà, Thành phố Thủ Dầu Một, TP. Bình Dương. 
					.partner
						.item.animate__lightSpeedInRight.animate__animated.animate__delay-2s
							.text
								p CHỦ ĐẦU TƯ
							.logo
								img.object-cover(data-src="./assets/img/index/vanxuan.png", alt="")
						.item.animate__lightSpeedInRight.animate__animated.animate__delay-2s
							.text
								p
									!= "ĐƠN VỊ PHÁT TRIỂN </br> CENLAND VÀ VIVAHOMES"
							.logo
								img.object-cover(data-src="./assets/img/index/cengroup.png", alt="")
						.item.animate__lightSpeedInRight.animate__animated.animate__delay-2s
							.text
								p TỔNG THẦU XÂY DỰNG:
							.logo
								img.object-cover(data-src="./assets/img/index/central.png", alt="")
