.animation__wrapper.show
	.box-txt.white.show
		.title-main.show
			h2 Animation Testing
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolores deleniti dicta numquam nihil cumque? Non ea totam corporis, fugit culpa dolores! Voluptatibus excepturi doloremque voluptas libero, ratione incidunt quia.
	.overlay-box.show
		span
		span