@font-face {
	font-family: MyriaPro-Bold;
	src: url('../fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
	font-family: Avenir-Black;
	src: url('../fonts/AvenirBlack.otf');
}

@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/AvenirBook.otf');
}

@font-face {
	font-family: Avenir-Book-Oblique;
	src: url('../fonts/AvenirBookOblique.otf');
}

@font-face {
	font-family:Avenir-Heavy;
	src: url('../fonts/Avenir-Heavy.otf');
}

@font-face {
	font-family:Avenir-Heavy-Oblique;
	src: url('../fonts/AvenirHeavyOblique.otf');
}

@font-face {
	font-family: Avenir-Light;
	src: url('../fonts/AvenirLight.otf');
}

@font-face {
	font-family: Avenir-Light-Oblique;
	src: url('../fonts/AvenirLightOblique.otf');
}


@font-face {
	font-family: Avenir-Medium;
	src: url('../fonts/AvenirMedium.otf');
}

@font-face {
	font-family: Avenir-Medium-Oblique;
	src: url('../fonts/AvenirMediumOblique.otf');
}


@font-face {
	font-family: Avenir-Oblique;
	src: url('../fonts/AvenirOblique.otf');
}

@font-face {
	font-family: Avenir-Roman;
	src: url('../fonts/AvenirRoman.otf');
}
