@font-face {
	font-family: MyriaPro-Bold;
	src: url('../fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
	font-family: Avenir-Black;
	src: url('../fonts/AvenirBlack.ttf');
}

@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/AvenirBook.ttf');
}

@font-face {
	font-family: Avenir-Book-Oblique;
	src: url('../fonts/AvenirBookOblique.ttf');
}

@font-face {
	font-family:Avenir-Heavy;
	src: url('../fonts/Avenir-Heavy.ttf');
}

@font-face {
	font-family:Avenir-Heavy-Oblique;
	src: url('../fonts/AvenirHeavyOblique.ttf');
}

@font-face {
	font-family: Avenir-Light;
	src: url('../fonts/AvenirLight.ttf');
}

@font-face {
	font-family: Avenir-Light-Oblique;
	src: url('../fonts/AvenirLightOblique.ttf');
}


@font-face {
	font-family: Avenir-Medium;
	src: url('../fonts/AvenirMedium.ttf');
}

@font-face {
	font-family: Avenir-Medium-Oblique;
	src: url('../fonts/AvenirMediumOblique.ttf');
}


@font-face {
	font-family: Avenir-Oblique;
	src: url('../fonts/AvenirOblique.ttf');
}

@font-face {
	font-family: Avenir-Roman;
	src: url('../fonts/AvenirRoman.ttf');
}
