@font-face {
	font-family: MyriaPro-Bold;
	src: url('../fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
	font-family: Montserat-Black;
	src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
	font-family: Montserrat-Light;
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family:Montserrat-MediumItalic;
	src: url('../fonts/Montserrat-MediumItalic.ttf');
}

@font-face {
	font-family: Montserat-Regular;
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family:Montserrat-LightItalic;
	src: url('../fonts/Montserrat-LightItalic.ttf');
}

@font-face {
	font-family:Montserrat-Bold;
	src: url('../fonts/Montserrat-Bold.ttf');
}

//Avenir
@font-face {
	font-family: Avenir-Black;
	src: url('../fonts/Montserrat-Black.ttf');
}

@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: Avenir-Light;
	src: url('../fonts/AvenirLight.otf');
}

@font-face {
	font-family: Avenir-Medium;
	src: url('../fonts/AvenirMedium.otf');
}
