.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.fullsize {
	width: 100%;
	height: 100%;
}

.object-cover {
	object-fit: cover;
	object-position: center;
	background-size: cover;
}

.object-contain {
	object-fit: contain;
	object-position: center;
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}