[hidden],
.hidden,
.d-none {
	display: none !important;
}

.desktop {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 1025px) {
		display: none !important;
	}
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.list-style-none {
	list-style-type: none;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.font-italic {
	font-style: italic;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}
.h-100 {
	height: 100%;
}
.lcl {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	&.lcl-1 {
		-webkit-line-clamp: 1;
	}
	&.lcl-2 {
		-webkit-line-clamp: 2;
	}
	&.lcl-3 {
		-webkit-line-clamp: 3;
	}
	&.lcl-4 {
		-webkit-line-clamp: 4;
	}
}
.block-animation-grid  {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	z-index: 0;
	overflow: hidden;
	mix-blend-mode: overlay;
	display: none;
	.square {
		width: 20px;
		height: 20px;
		pointer-events: none;
		position: relative;
		&::before {
			content: "";
			background: url(../assets/img/index/icon-animation.png) no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			width: 5px;
			height: 5px;
		}
	}
}
