[hidden],
.hidden,
.d-none {
	display: none !important;
}

.desktop {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 1025px) {
		display: none !important;
	}
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.list-style-none {
	list-style-type: none;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.font-italic {
	font-style: italic;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}
.h-100 {
	height: 100%;
}
.lcl {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	&.lcl-1 {
		-webkit-line-clamp: 1;
	}
	&.lcl-2 {
		-webkit-line-clamp: 2;
	}
	&.lcl-3 {
		-webkit-line-clamp: 3;
	}
	&.lcl-4 {
		-webkit-line-clamp: 4;
	}
}

input.input-validation-error, 
select.input-validation-error, 
textarea.input-validation-error {
	border: 1px solid red!important;
	color: red!important;
	transition: .3s all ease-in-out;
}

.fake-button-recaptcha {
    display: none;
}

.block-animation-grid  {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	z-index: 0;
	overflow: hidden;
	mix-blend-mode: overlay;
	display: none;
	.square {
		width: 20px;
		height: 20px;
		pointer-events: none;
		position: relative;
		&::before {
			content: "";
			background: url(../assets/img/index/icon-animation.png) no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			width: 5px;
			height: 5px;
		}
	}
}

.level-index-out {
	z-index: -9999!important;
	pointer-events: none!important;
	visibility: hidden;
	transition: .3 all ease-in-out;
}

.box-circle {
	height: auto;
	position: absolute;
	width: 100%;
    left: 0;
    top: 0;
	.show-box {
		max-width: 250px;
		left: auto;
		top: auto;
		right: auto;
		overflow: hidden;
		border-radius: 20px;
		background-color: #daa244;
		transition: all .5s ease-in-out;
		box-shadow: 0 0 30px rgba(0,0,0,.5);
		padding: 10px;
		z-index: 100;
		opacity: 0;
		transform: scale(0) translate(-10% , -10%);
		height: auto;
		position: absolute;
		width: fit-content;
		pointer-events: none;
		cursor: pointer;
		img {
			width: 100%;
			height: auto;
			position: relative;
			border-radius: 10px;
			display: block;
			pointer-events: none;
			margin: 0 0 5px;
		}
		h3 {
			font-weight: 700;
			font-size: 13px;
			line-height: 1.4;
			color: #fff;
			text-align: center;
			text-shadow: 0 1px 1px rgba(0,0,0,.3);
			text-transform: uppercase;
		}
		&.showup {
			transform: scale(1);
			opacity: 1;
		}
	}
	@media (max-width: 1100px) {
		position: relative;
		top: unset;
		left: unset;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;;
		.show-box {
			&:first-child {
				display: none;
			}
			width: unset !important;
			pointer-events: auto;
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
			max-width: 20%;
			position: relative;
			margin: 0 10px;
		   top: unset;
		   right: unset;
		   left: unset;
		   opacity: 1;
		   transform: scale(1);
		   margin-bottom: 10px;
		   &::before {
			   content: none;
		   }
		   .box-detail {
			   &::before {
				   content: none;
			   }
		   }
		   @media (max-width: 767.98px) {
			   -ms-flex: 0 0 30%;
			   flex: 0 0 30%;
			   max-width: 30%;
		   }
		   @media (max-width: 575.98px) {
			   -ms-flex: 0 0 40%;
			   flex: 0 0 40%;
			   max-width: 40%;
		   }
		}
		
	}
}

.popup-custom {
	&#popup-info {
		max-width: 815px;
		width: 100%;
		border-radius: 19px;
		background: rgba($color: #FFFFFF, $alpha: .25);
		.title  {
			text-align: center;
			margin-bottom: 30px;
			p {
				font-size: 2.5rem;
				color: #F1BE78;
				font-family:Montserat-Black;
			}
		}
		.info {
			margin: 0 auto;
			max-width: 570px;
			input {
				width: 100%;
				height: 47px;
				margin-bottom: 15px;
				border-radius: 10px;
				padding-left: 15px;
				padding-top: 5px;
			}
			.name {
				@media (max-width: 575.98px) {
				
				}
			}
			.mail-phone {
				@media (max-width: 575.98px) {
					> div {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
			}
			.context {
				margin-bottom: 25px;
				textarea {
					width: 100%;
					border-radius: 10px;
					height: 96px;
					overflow: hidden;
					padding-left: 15px;
					padding-top: 5px;
				}
			}
		}
		.btn-submit {
			display: flex;
			justify-content: center;
			button {
				cursor: pointer;
				text-align: center;
				min-width: 71px;
				height: 26px;
				border: none;
				border-radius: 6px;
				background: #F1BE78;

				span {
					color: #FFFFFF;
					font-family: Montserat-Black;
					margin-right: 8px;
				}
			}
		}
	}
}